{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Contact</title>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <p class="text-danger"><i>Thoughts, stories and ideas.</i></p>
                <hr>
            </div>
        </div>

                
        <div class="row">
            <div class="col-md-9">                
                <h3 class="text-center">Contact</h3>
                <p>Hi there!</p>
                <p>Here you can send me a message, suggest a topic you wanna read about, inform me in case you've found a bug/error, or simply say hello. Anything, really.</p>
                <p>If you prefer, you can also send me a message directly via </p>
                <p><a href="#">abc@gmail.com</a></p>
                <br>
                <hr>
                <br>
                
                <form>
                    <div class="form-group">
                        <label for="username">Name</label>
                        <input type="text" id="username" name="username" placeholder="Enter your name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email address" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" placeholder="Hi Mukul"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">SEND</button>
                </form>

            </div>

            <div class="col-md-3 sidebar">
            
                <div class="widget_content">
                    <div class="widget-title">
                        <h4>About Me</h4>
                    </div>
                    <div class="widget-content">
                        <img src="{% static 'images/img_profile.jpg' %}" class="img-fluid">
                        <h2><a href="{% url 'about' %}" class="category sidebar-btn">Mukul Kumar</a></h2>
                        <p>My name is Mukul Kumar, I'm a software developer and technology enthusiast from India. At the moment, I'm living in Pune..</p>
                    </div>
                </div>
                
                <hr>

                <div class="widget_content">
                    <div class="widget-title">
                        <h4>Latest Post</h4>
                    </div>
                    <div class="widget-content">
                        <img src="{{ latestblog.post_image.url }}" class="img-fluid">                    
                        <h2><a href="{% url 'post' post_id=latestblog.id %}" class="category sidebar-btn">{{ latestblog.title }}</a></h2>
                        {% autoescape off %}
                            <p>{{ latestblog.short_description }}</p>
                        {% endautoescape %}
                    </div>
                </div>

            </div>
        </div>
            
    </div>
{% endblock %}