{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <p class="text-danger"><i>Thoughts, stories and ideas.</i></p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="banner">                    
                    <div class="col-md-9 banner_content">
                        <a href="#" class="category sidebar-btn">{{ latestblog.title }}</a>
                        <p>&nbsp;</p>
                        {% autoescape off %}
                            <h2>{{ latestblog.short_description }}</h2>
                        {% endautoescape %}
                        <ul class="post_information">
							<li><i class="fa fa-user"></i><a href="#">{{ latestblog.user }}</a></li>
							<li><i class="fa fa-calendar"></i>
								<time class="post-date" datetime="2017-11-11">{{ latestblog.created_at|date:'d/m/Y' }}</time>
							</li>
							<!-- <li><i class="fa fa-comment"></i><a href="#">0 Comments</a></li> -->
                        </ul>                        
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">

            <div class="col-md-9">
                
                {% for blogdetail in blogdetails %}
                    <div class="col-md-4 card_container">
                        <div class="card">
                            <img class="card-img-top" src="{{ blogdetail.post_image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h4><a href="{% url 'post' post_id=blogdetail.id %}" class="card-title">{{ blogdetail.title }}</a></h4>
                                
                                {% autoescape off %}
                                    <div class="card-text blog_description">{{ blogdetail.short_description }}</div>
                                {% endautoescape %}
                                
                                <ul class="post_information">
                                    <li><i class="fa fa-user"></i><a href="#">{{ blogdetail.user }}</a></li>
                                    <li><i class="fa fa-calendar"></i>
                                        <time class="post-date" datetime="2017-11-11">{{ blogdetail.created_at|date:'d/m/Y' }}</time>
                                    </li>
                                    <!-- <li><i class="fa fa-comment"></i><a href="#">1 Comment</a></li> -->
                                </ul>

                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-3 sidebar">
                
                <div class="widget_content">
                    <div class="widget-title">
                        <h4>About Me</h4>
                    </div>
                    <div class="widget-content">
                        <img src="{% static 'images/img_profile.jpg' %}" class="img-fluid">                        
                        <h2><a href="{% url 'about' %}" class="category sidebar-btn">Mukul Kumar</a></h2>
                        <p>My name is Mukul Kumar, I'm a software developer and researcher from India. At the moment, I'm living in Pune..</p>
                    </div>
                </div>
                
                <hr>

                <div class="widget_content">
                    <div class="widget-title">
                        <h4>Latest Post</h4>
                    </div>
                    <div class="widget-content">
                        <img src="{{ latestblog.post_image.url }}" class="img-fluid">                    
                        <h2><a href="{% url 'post' post_id=latestblog.id %}" class="category sidebar-btn">{{ latestblog.title }}</a></h2>
                        {% autoescape off %}
                            <p>{{ latestblog.short_description }}</p>
                        {% endautoescape %}
                    </div>
                </div>

            </div>
            
        </div>

    </div>
{% endblock %}