{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ post_detail.title }}</title>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <p class="text-danger"><i>Thoughts, stories and ideas.</i></p>
                <hr>
            </div>
        </div>

                
        <div class="row">
            <div class="col-md-9">
                
                <h2 class="text-center">{{ post_detail.title }}</h2>

                <div class="post_image">
                    <img src="{{ post_detail.post_image.url }}" class="mx-auto d-block img-fluid">
                </div>

                <div class="post_description">
                    <br>
                    {% autoescape off %}
                        <p>{{ post_detail.description }}</p>
                    {% endautoescape %}
                </div>
                <br>
                <hr>
                <div class="float-right">
                    <span><strong>Share this post </strong></span>
                    <a href="javascript:void(0);" class="social_icon"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="javascript:void(0);" class="social_icon"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a>
                    <a href="javascript:void(0);" class="social_icon"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
                <br><br>
                <div id="disqus_thread"></div>

            </div>

            <div class="col-md-3 sidebar">
            
                <div class="widget_content">
                    <div class="widget-title">
                        <h4>About Me</h4>
                    </div>
                    <div class="widget-content">
                        <img src="{% static 'images/img_profile.jpg' %}" class="img-fluid">
                        <h2><a href="{% url 'about' %}" class="category sidebar-btn">Mukul Kumar</a></h2>
                        <p>My name is Mukul Kumar, I'm a software developer and technology enthusiast from India. At the moment, I'm living in Pune..</p>
                    </div>
                </div>
                
                <hr>

                <div class="widget_content">
                    <div class="widget-title">
                        <h4>Latest Post</h4>
                    </div>
                    <div class="widget-content">
                        <img src="{{ latestblog.post_image.url }}" class="img-fluid">                    
                        <h2><a href="{% url 'post' post_id=latestblog.id %}" class="category sidebar-btn">{{ latestblog.title }}</a></h2>
                        {% autoescape off %}
                            <p>{{ latestblog.short_description }}</p>
                        {% endautoescape %}
                    </div>
                </div>

            </div>
        </div>
            
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        
        var disqus_config = function () {
            this.page.url = 'http://techbloging.in/post/{{ post_detail.pk }}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '/post/{{ post_detail.pk }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://techbloging.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
